:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #14bdac;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

.board h1 {
  color: #fff;
  margin-bottom: 60px;
  user-select: none;
}

.board button {
  padding: 8px 12px;
  margin: 25px;
  background: #202124;
  border: 2px transparent;
  color: #14bdac;
  width: 120px;
  border-radius: 25px;
  transition: 0.2s;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.board>button:hover {
  background: #eee;
  color: #222;
}


/* 
------------
Game Section
------------
*/

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  width: 100px;
  height: 100px;
  border: 4px solid #0da192;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
  user-select: none;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
}

.square:nth-child(1),
.square:nth-child(4),
.square:nth-child(7) {
  border-left: none;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
  border-right: none;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
  border-bottom: none;
}

/* 
------------
Turn Section
------------
*/

.turn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.turn>.square {
  width: 90px;
  height: 90px;
  border: none;
  opacity: 0.575;
}

.square.is-selected {
  color: #fff;
  border-radius: 12px;
  border-bottom: 3px solid #f2ebd3;
  opacity: 1;
}

/* 
------------
Winner Section
------------
*/

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #202124;
  height: 300px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  gap: 15px;
}