#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 45px;
}

.table--showColors tr:nth-child(odd) {
  background-color: #333;
}

.table--showColors tr:nth-child(even) {
  background-color: #555;
}