/* .cart {
  background: #fff;
  box-shadow: 0 0 10px 1px rgb(15, 15, 15, 0.2);
  display: none;
  padding: 20px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 230px;
  user-select: none;
  height: 100%;
  overflow: auto;
} */

/* .cart img {
  aspect-ratio: 16/9;
  width: 70%;
  border-radius: 8px;
  object-fit: fill;
} */

/* .cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
} */

/* .cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
} */

/* .cart footer button {
  padding: 9px;
} */

/* .cart-button {
  align-items: center;
  background: #09f;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: fixed;
  right: 24px;
  top: 24px;
  transition: all .3s ease;
  width: 32px;
  z-index: 9999;
} */

/* .cart-button:hover {
  scale: 1.1;
} */

/* .cart-button~input:checked~.cart {
  height: -webkit-fill-available;
  display: block;
} */