body {
  margin: 0;
  background: black;
  font-family: system-ui, sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

/* .App {
  display: flex;
  flex-direction: column;
  gap: 8px;
} */