html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: black;
  font-family: system-ui, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .App {
  display: flex;
  flex-direction: column;
  gap: 8px;
} */